/* Configuración de la pantalla del celular */
.contenedor-app {
    background-color: #08865c;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}

.mi-header {
    background-color: #4d608b; /* Verde institucional */
    color: rgb(194, 30, 30);
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(124, 185, 162, 0.2);
}

.contenido {
    padding: 20px;
    text-align: center;
}

/* Sistema de rejilla para las tarjetas */
.grid-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 15px;
    margin-top: 20px;
}

/* Diseño de cada tarjeta individual */
.card {
    background: rgb(12, 226, 190);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(164, 142, 214, 0.1);
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
}

/* Efecto al tocar la tarjeta (para que se sienta real) */
.card:active {
    transform: scale(0.8);
    filter: brightness(0.8);
    background-color: #08570e;
}

.icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    color: #333;
    margin: 0;
}